.question{
    width: 100%;
    height: 55px;
    padding: 10px;
    box-sizing: border-box;
}
.openOrClose {
    width:35px;
    height: 35px;
}

.answer {
    margin-top: 15px;
    width: 100%;
    font-size: 24px;
    /*background: #deeaf6;*/
    padding: 10px;
    box-sizing: border-box;
    font-weight: 550;
}

.answer p {
    margin-left: 2em;
    font-weight: 550;
}

.ansItem {
    color: red;
}

.fqa_main li{
    margin-bottom: 40px;

}