
.news_main li {
    padding: 10px 16px;
    margin-bottom: 30px;
}

.news_main .oddItems {
    width: 100%;
    background: #deeaf6;
    box-sizing: border-box;
    border-style: outset;
    border-width: 2px;
}

.news_main .evenItems {
    width: 100%;
    background: #9dcae1;
    box-sizing: border-box;
    border-style: outset;
    border-width: 2px;
}

.news_main li h3 {
    margin-right: 10px;
    font-weight: 550;
}

.news_main li a {
    text-decoration: none;
    color: #5A4D4C;
	font-weight: 550;
}
.news_main li a:hover {
    padding-left: 10px;
	color: #5A4D4C;
	font-weight: 550;
}