
.news_main li {
    padding: 10px 16px;
    margin-bottom: 30px;
}

.news_main .oddItems {
    width: 100%;
    background: rgba(255,255,255,0.5);
    box-sizing: border-box;
}

.news_main .evenItems {
    width: 100%;
    background: #c0e2f5;
    box-sizing: border-box;
}

.news_main li h3 {
    margin-right: 10px;
}
