.plan_main .plan_oddItems{
    width: 100%;
    height: 550px;
   background: #deeaf6;
    padding: 20px 0;
    box-sizing: border-box;
    margin-bottom: 25px;
        border-style: outset;
    border-width: 2px;
}
.plan_main .plan_evenItems{
    width: 100%;
    height: 550px;
   background: #9dcae1;
    padding: 20px 0;
    box-sizing: border-box;
    margin-bottom: 25px;
        border-style: outset;
    border-width: 2px;
}
.plan_main li p {
    font-size: 28px;
    width: 925px;
    margin: 15px 131px;
}

.plan_twoPic {
    padding: 0 101px;
    width: 100%;
    box-sizing: border-box;
}
