.plan_main li{
    width: 100%;
    height: 550px;
    background: rgba(255,255,255,0.5);
    padding: 20px 0;
    box-sizing: border-box;
    margin-bottom: 25px;
}

.plan_main li p {
    font-size: 28px;
    width: 925px;
    margin: 15px 131px;
}

.plan_twoPic {
    padding: 0 101px;
    width: 100%;
    box-sizing: border-box;
}