body {
    background: #e4ebf2;
    margin: 0;
    padding: 0;
    color: #5A4D4C;
    font-family: "Microsoft JhengHei";
}

.basicWidth {
    width: 1187px;
    margin: 0 auto;
}

h2, h3 {
    margin: 0;
    padding: 0;
}

h3, .font32 {
    font-size: 32px;
}

.font28 {
    font-size: 28px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

p {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 150px;
    margin-bottom: 45px;
    padding: 30px 0;
    background: #acdef5;
    box-sizing: border-box;
}

header .logo img {
    margin-left: 20px;
    width: 180px;
    height: 92px;
    float: left;
}

header .title {
    float: right;
    width: 950px;
}

header .title h2 {
    font-size: 32px;
    margin-bottom: 25px;
}

header .title ul {
    margin-left: -25px;
    list-style: none;
}

header .title ul li {
    font-size: 24px;
    float: left;
    margin-left: 25px;
}

.subTitle {
    font-size: 40px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #fff;
    background: #3baacc;
    margin-top: 45px;
    margin-bottom: 30px;
}
.main {
    padding: 0 102px;
    background: rgba(255,255,255,0.5);
}

.firstItem {
    padding-top: 10px;
}

.circle {
    border-radius: 50%;
    background: #000;
    float: left;
}

.center {
    text-align: center;
}

.leftFloat {
    float: left;
}

.rightFloat {
    float: right;
}

footer {
    width: 100%;
    background: #8a8683;
    margin-top: 45px;
    padding: 30px 0;
    font-size: 24px;
    text-align: center;
    color: #fff;
}

footer img {
    width: 32px;
    height: 32px;
}

.footer_downText {
    margin-top: 17px;
}

.footer_fbtext {
    vertical-align: 25%;
}

.clear {
    clear: both;
}