body {
    background: #f7faff;
    margin: 0;
    padding: 0;
    color: #5A4D4C;
    font-family: "Microsoft JhengHei";
}
.plus_music {
    display: flex;
    float: left;
}
.music{
    padding-left: 180px;
    padding-bottom: 0;
}
.basicWidth {
    width: 1187px;
    margin: 0 auto;
}
.logo img {
    box-shadow: 0px 0px 2px rgba(0,0,0,0.7);
}
h2, h3 {
    margin: 0;
    padding: 0;
}

h3, .font32 {
    font-size: 28px;
}

.font28 {
    font-size: 28px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

p {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 150px;
    margin-bottom: 45px;
    padding: 30px 0;
    background: #6bafd6;
    box-sizing: border-box;
    box-shadow:  0px 0px 4px rgba(0,0,0,0.7);
}

header .logo img {
    margin-left: 20px;
    width: 180px;
    height: 92px;
    float: left;
}

header .title {
    float: right;
    width: 950px;
}

header .title h2 {
    font-size: 37px;
    margin-bottom: 20px;
    font-weight: 550;
    color: #fff;
    text-shadow: 0px 0px 4px rgba(255,255,255,0.7);
}

header .title ul {
    margin-left: -25px;
    list-style: none;
}

header .title ul li {
    font-size: 24px;
    font-weight: 580;
    float: left;
    margin-left: 25px;

}
header .title ul li a {
    text-decoration: none;
    color: #05285a;
}
header .title ul li a:hover {
    border-style: dashed;
    border-width: 2px;
    color: #05285a;
}
.subTitle {
    font-size: 40px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #fff;
    background: #6bafd6;
    margin-top: 45px;
    margin-bottom: 30px;
    border-style: outset;
    border-width: 3px;
}
.main {
    padding: 0 102px;
    background: rgba(255,255,255,0.5);
}

.firstItem {
    padding-top: 10px;
    margin-top: 10px;
}

.circle {
    border-radius: 50%;
    background: #000;
    float: left;
}

.center {
    text-align: center;
}

.leftFloat {
    float: left;

}

.rightFloat {
    float: right;
}

footer {
    width: 100%;
    height: 80px;
    background: #8a8683;
    margin-top: 45px;
    padding: 30px 0;
    font-size: 24px;
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.3);
    box-shadow:  0px 0px 4px rgba(0,0,0,0.7);
}

footer img {
    width: 32px;
    height: 32px;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}

.footer_downText {
    margin-top: 17px;
}

.footer_fbtext {
    vertical-align: 25%;
}

.light {
    background: #deeaf6;
}

.deep {
    background: #9dcae1;
}

.hide {
    display: none;
}

.clear {
    clear: both;
}